@import "tailwindcss";
@import "tw-animate-css";

.offscreen-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  width: 100%;
  left: -450px;
  font-size: 3rem;
  position: fixed;
  background-color: white;
  transition: 0.3s ease-in;
  max-width: 450px;
}

body {
  font-family: "Roboto", sans-serif;
}

#menuDrop {
  transition: opacity 0.3s ease-out;
  opacity: 0;
  animation: fade_out_show 0.3s;
  display: none;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#menuDrop.active {
  opacity: 1;
  display: flex;
  animation: fade_in_show 0.5s;
}

.offscreen-menu.active {
  color: black;
  left: 0;
  z-index: 9;
}

.ham-menu {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
}

.ham-menu span {
  height: 5px;
  width: 90%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
